{% extends "blog/base.html" %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ post.title }}{% endblock %}</title>
</head>
<body>

{% block content %}
 <h1>{{ post.title }}</h1>
 <p class="date">
 Published {{ post.publish }} by {{ post.author }}
 </p>
 {{ post.body|markdown }}

 <h2>Similar posts </h2>
 {% for post in similar_posts %}
    <a href="{{post.get_absolute_url}}">{{post.title}}</a>
    {% empty %}
    <h3>There's no similar posts</h3>
    {% endfor %}


 {% with comments.count as total_comments %}
 <h2>
 {{ total_comments }} comment{{ total_comments|pluralize }}
 </h2>
 {% endwith %}

 {% for comment in comments %}
 <div class="comment">
    <p class="info">
        Comment {{ forloop.counter }} by {{ comment.name }}
        {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
        </div>
        {% empty %}
        <p>There are no comments.</p>
        {% endfor %}
        {% include "blog/post/includes/comment_form.html" %}


{% endblock %}
</body>
</html>